<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>TeleScope</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="/static/css/layout.css?201314080000" type="text/css">
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
        <h1><a href="#">TeleScope</a></h1>
      <h2>An IoT solution for your home</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/getapp">Get App</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
</div>

<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <h3>ABOUT:</h3>
    <p>The TeleScope is a project made for the discipline
      SEL0373 - Design of Digital Systems in the first semester of 2018.
      This project was planned and executed by
      <a href="https://github.com/hiroshisiq">Anderson Hiroshi de Siqueira</a> and
      <a href="https://github.com/Kotzly">Paulo Augusto Alvez Luz Viana</a>, with Professor José
      Roberto Boffino de Almeida Monteiro as advisor.</p>

    <p>The goal was to develop an application using a single-board computer, involve
      Internet Of Thing related topics like micro web server, MQTT and alike communication
      protocols, interface with electronics using GPIO, push notification, cryptography, etc. </p>

    <p> With this in mind goals we designed the TeleScope project, which is basically
      an intercom with a camera where you can see, listen and speak to whoever is in you door
      via a web page or smartphone app. Open the door or other interaction with the environment
      is also a TeleScope built-in feature.</p>

    <p> Many framework and protocols were used in the project, among them was: Flask, a
      python framework for micro web server applications, and MQTT with mosquitto server, a
      protocol widely used on IoT projects.
    </p>


    <p>Below you can see the gantt chart generated for the project,
      to see it in its own page please click
      <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRvM6m8AzeZ4bdYscbBY_y400waiLlF3r7qBVyll4WnnRsjRjVis5_za9XX00s_kh4b-I012obfNYU-/pubhtml">
        here.
      </a>
    </p>

    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRvM6m8AzeZ4bdYscbBY_y400waiLlF3r7qBVyll4WnnRsjRjVis5_za9XX00s_kh4b-I012obfNYU-/pubhtml">
      <iframe width="100%" height="1320px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRvM6m8AzeZ4bdYscbBY_y400waiLlF3r7qBVyll4WnnRsjRjVis5_za9XX00s_kh4b-I012obfNYU-/pubhtml?widget=true&amp;headers=false"></iframe>
    </a>

  </div>
</div>

<!-- Copyright -->
<div class="wrapper row4">
  <footer id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
