<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>NAME OF THE PROJECT</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css">
<script src="/static/js/push-subscribe.js" type="text/javascript"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="/static/js/camera-buttons.js" type="text/javascript"></script>
<!--script src="/static/js/jquery.js" type="text/javascript"></script-->
<script src="/static/js/microfone.js" type="text/javascript"></script>
<script src="/static/js/recorder.js" type="text/javascript"></script>
<!--script src="/static/js/WebAudioRecorder.min.js" type="text/javascript"></script-->
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
        <h1><a href="#">NAME OF THE PROJECT</a></h1>
      <h2>An IoT solution for your home</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/getapp">Get App</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
</div>

<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="slider">
      <div id="videofeed">
          <img id="videoimage" src="https://highspeeddoggos.tk:8080/video_feed" alt="Camera"/>
      </div>
    </section>

   <!-- <audio id="audiofeed" src="{{ url_for('audio_feed') }}" loop></audio>-->

    <audio id="audiofeed" autoplay>
      <source src="https://highspeeddoggos.tk:8080/audio_feed"/>
    </audio>

    <div id="container">
      <button type="button" id="videoButton" onclick="videoButtonClick()">Stop Video</button>
      <button type="button" id="audioButton" onclick="audioButtonClick()">Stop Audio</button>
      <button type="button" id="startMicro" >Start Microphone</button>
      <button type="button" id="stopMicro" >Stop Microphone</button>
    </div>


    <iframe name="votar" style="display:none;" hidden="true"></iframe>
    <form action="https://highspeeddoggos.tk:8080/handler" method="post" target="votar">
      <input type="text" name="projectFilepath" hidden="true">
      <input type="submit" onclick="return confirm('Are you sure?')" value="Open Door (pin 11)">
    </form>

    <!--div class="form-group">
      <label class="col-sm-3 control-label">Audio input</label>
      <div class="col-sm-3">
        <select id="audio-in-select" class="form-control"></select>
      </div>
      <div class="col-sm-3">
        <input id="audio-in-level" type="range" min="0" max="100" value="0" class="hidden">
      </div>
    </div-->  

      <!--h3>Recordings</h3-->
      <!--div id="recording-list"></div-->
    <!-- <form method="post">
        <input type="text" name="projectFilepath" hidden="true">
        <input type="submit" value="Open Door (pin 11)">
    </form> -->

  </div>

</div>
<!-- Copyright -->
<div class="wrapper row4">
  <footer id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Hiroshi and Paulo</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>

</body>
</html>
