<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>NAME OF THE PROJECT</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css">
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
        <h1><a href="#">NAME OF THE PROJECT</a></h1>
      <h2>An IoT solution for your home</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/getapp">Get App</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
</div>

<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="slider">
      <a href="#"><img src="{{ url_for('video_feed') }}" alt="Camera"></a>
    </section>
  </div>
</div>
