<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>TeleScope</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css">
</head>

<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
        <h1><a href="#">TeleScope</a></h1>
      <h2>An IoT solution for your home</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/getapp">Get App</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
</div>

<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="slider"><a href="#"><img src="/static/img/rasp_940x360.png" alt=""></a></section>

    <p>The TeleScope is a project made for the discipline
      SEL0373 - Design of Digital Systems in the first semester of 2018.
      This project was planned and executed by
      <a href="https://github.com/hiroshisiq">Anderson Hiroshi de Siqueira</a> and
      <a href="https://github.com/Kotzly">Paulo Augusto Alvez Luz Viana</a>, with Professor José
      Roberto Boffino de Almeida Monteiro as advisor.</p>

  </div>
</div>

<!-- Copyright -->
<div class="wrapper row4">
  <footer id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Hiroshi and Paulo</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>

</body>
</html>
